.normal-form {
  margin: 10px;
}

.control-container{
  width: 100%;
  padding: 5%;
}

.control-container > * {
  width: 100%;
}

.add-bottom-padding{
  padding-bottom: 10px;
}

.button-row {
  margin: 8px;
}
