.product-card {
  width: 16%;
  float: left;
  position: relative;
  text-align: center;
  border: 0;
  box-shadow: transparent;

}

.product-card img {
}

mat-card {
  margin: 20px;
  padding: 10px;
  border: 0;
}
