<div class="login-container">
  <div class="login-form">
    <div class="title">
      <h1>LOGIN</h1>
    </div>
    <form>
      <div class="inputs-group">
        <label>Email</label>
        <input>
        <label style="padding-top: 15px">Password</label>
        <input>
        <button class="login-button">Login</button>
        <button class="create-account-button" (click)="createAccount()">Create an account</button>
      </div>
    </form>
  </div>
<!--  <div class="login-form">-->
<!--    <div class="title">-->
<!--      <h1>CREATE AN ACCOUNT</h1>-->
<!--    </div>-->
<!--    <form>-->
<!--      <div class="inputs-group">-->
<!--        <label>Name</label>-->
<!--        <input>-->
<!--        <label style="padding-top: 15px">Last Name</label>-->
<!--        <input>-->
<!--        <label style="padding-top: 15px">Name</label>-->
<!--        <input>-->
<!--        <label style="padding-top: 15px">Email</label>-->
<!--        <input>-->
<!--        <label style="padding-top: 15px">Password</label>-->
<!--        <input>-->
<!--        <label style="padding-top: 15px">Confirm Password</label>-->
<!--        <input>-->
<!--        <button class="login-button">Confirm</button>-->
<!--        <button class="create-account-button" (click)="createAccount()">Already have an account</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
</div>
