<footer class="footer-container">
  <div class="content-container">
    <div class="footer-column">
      <p>Website Created with</p>
      <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>
      <a href="https://angular.io/" target="_blank">Angular</a>
      <a href="https://material.angular.io/" target="_blank">Material</a>
      <a href="https://www.postgresql.org/" target="_blank">Postgres</a>
    </div>
    <div class="footer-column">
      <p>Website Created with</p>
      <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>
      <a href="https://angular.io/" target="_blank">Angular</a>
      <a href="https://material.angular.io/" target="_blank">Material</a>
      <a href="https://www.postgresql.org/" target="_blank">Postgres</a>
    </div>
    <div class="footer-column">
      <p>Website Created with</p>
      <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>
      <a href="https://angular.io/" target="_blank">Angular</a>
      <a href="https://material.angular.io/" target="_blank">Material</a>
      <a href="https://www.postgresql.org/" target="_blank">Postgres</a>
    </div>
  </div>
</footer>
